.home {
    position: absolute;
    right: 2%;
    top: 5%;
    background-color: none;
    color: white;
    border: solid 2px white;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.form-container {
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 80vw;
    padding: 50px;
    background-color: transparent;
}

fieldset {
    border-radius: 5px;
    width: 60vw;
    height: fit-content;
}

input {
    margin: 20px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid white;
    background: none;
    padding: 20px;
    font-size: 20px;
    color: white;
}

legend {
    font-size: 40px;
    padding: 50px 100px;
    word-spacing: 5px;
    letter-spacing: 3px;
}

#deliveryMode {
    font-size: 20px;
    padding: 25px;
}

select {
    padding: 10px;
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-image: var(--theme-background-image);
}

:root {
    --theme-background-image: linear-gradient(to right,
            rgb(255, 190, 69),
            red);
}

#address {
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: none;
    border: 2px solid white;
    margin: 20px;
    height: fit-content;
    display: none;
}

.order-container {
    color: white;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-transform: capitalize;
    background-color: rgba(46, 45, 45, 0.502);
}

#check {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 15px;
    border: none;
    background-image: var(--theme-background-image);
}

.items-container {
    border: 1px solid white;
    width: 75vw;
    display: grid;
    grid-template-areas: "auto auto";
    background-image: url(Photos/ingredients.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.item {
    text-align: center;
    grid-area: "auto";
    padding: 20px;
}

.itemPhoto {
    width: 300px;
    height: 250px;
    max-width: 300px !important;
    max-height: 250px !important;
    border-radius: 5px;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

.desc {
    letter-spacing: 1px;
    font-family: "Noto";
}

[id*="quantity-"] {
    width: 100px;
}

.itemName {
    margin: 10px;
    text-transform: capitalize;
    font-family: "Copperplate Gothic Light";
}
